<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %><!--1: リンクテキスト 2: URL 3: オプションハッシュ-->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' , id: "navbutton"%></li>
        <li><%= link_to "Help",   '#' , id: "navbutton"%></li>
        <li><%= link_to "Log in", '#' , id: "navbutton"%></li>
      </ul>
    </nav>
  </div>
</header>